<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Books</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<header>
  <h1>Books</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="bookinfo">Book Info</a></li>
      <li><a href="borrowings">Borrowings</a></li>
      <li><a href="members">Members</a></li>
      <li><a href="movies">Movies</a></li>
      <li><a href="movieinfo">Movie Info</a></li>
    </ul>
  </nav>
</header>
<main>
  <h2>Books</h2>
  <table>
    <thead>
      <tr>
        <th><button id="showFormButton">New</button></th>
        <th>Book ID <button>Filter</button></th>
        <th>ISBN <button>Filter</button></th>
        <th>Title <button>Filter</button></th>
        <th>Author <button>Filter</button></th>
        <th>Genre <button>Filter</button></th>
        <th>Published <button>Filter</button></th>
      </tr>
    </thead>
    <tbody>
      {{#each books}}
      <tr>
        <td><form action="/deleteBook" method="post">
            <input type="hidden" name="delete_book_id" value="{{this.book_id}}">
            <input type="submit" value="Delete">
          </form></td>
        <td>{{this.book_id}}</td>
        <td>{{this.isbn}}</td>
        <td>{{this.title}}</td>
        <td>{{this.author}}</td>
        <td>{{this.genre}}</td>
        <td>{{this.published}}</td>
      </tr>
      {{else}}
      <tr>
          <td colspan="8">No books found</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  
  <div id="newMemberForm" style="display: none;">
  <h2>Add New Book</h2>
  <form action="/addNewBook" method="post">
    <label for="newisbn">ISBN:</label>
    <input type="text" id="newisbn" name="newisbn"><br><br>
    <label for="newtitle">Title:</label>
    <input type="text" id="newtitle" name="newtitle"><br><br>
    <label for="newauthor">Author:</label>
    <input type="text" id="newauthor" name="newauthor"><br><br>
    <label for="newgenre">Genre:</label>
    <input type="text" id="newgenre" name="newgenre"><br><br>
    <label for="newpublished">Published:</label>
    <input type="text" id="newpublished" name="newpublished"><br><br>
    <input type="submit" value="Add New Book">
  </form>
  </div>

  <h2>Update Book Information</h2>
  <form action="/updateBook" method="post">
    <label for="book_id">Book ID:</label>
    <select id="book_id" name="book_id">
      {{#each books}}
      <option value="{{this.book_id}}">{{this.book_id}}</option>
      {{/each}}
    </select><br><br>
    <label for="isbn">ISBN:</label>
    <input type="text" id="isbn" name="isbn"><br><br>
    <label for="title">Title:</label>
    <input type="text" id="title" name="title"><br><br>
    <label for="author">Author:</label>
    <input type="text" id="author" name="author"><br><br>
    <label for="genre">Genre:</label>
    <input type="text" id="genre" name="genre"><br><br>
    <label for="published">Published:</label>
    <input type="text" id="published" name="published"><br><br>
    <input type="submit" value="Update Book Info">
  </form>
  

  <h2>Delete Book</h2>
  <form action="/deleteBook" method="post">
    <label for="deletebookid">Book ID:</label>
    <select id="deletebookid" name="deletebookid">
      {{#each book}}
      <option value="{{this.book_id}}">{{this.book_id}}</option>
      {{/each}}
    </select><br><br>
    <input type="submit" value="Delete Book">
  </form>
</main>
<footer>
  <p>&copy; Team Busy Bees</p>
</footer>

<script>
  document.getElementById('showFormButton').addEventListener('click', function() {
    var form = document.getElementById('newMemberForm');
    if (form.style.display === 'none') {
      form.style.display = 'block';
    } else {
      form.style.display = 'none';
    }
  });
  document.getElementById('submit').addEventListener('click', function() {
    var form = document.getElementById('newMemberForm');
      form.style.display = 'none';

  });
</script>
</body>
</html>