<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Borrowings</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<header>
  <h1>Borrowings</h1>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="bookinfo">Book Info</a></li>
      <li><a href="books">Books</a></li>
      <li><a href="members">Members</a></li>
      <li><a href="movies">Movies</a></li>
      <li><a href="movieinfo">Movie Info</a></li>
    </ul>
  </nav>
</header>
<main>
  <h2>Borrowings</h2>
  <table>
    <thead>
      <tr>
        <th><button>New</button></th>
        <th></th>
        <th>Borrowing ID <button>Filter</button></th>
        <th>Member ID <button>Filter</button></th>
        <th>Book ID <button>Filter</button></th>
        <th>Movie ID <button>Filter</button></th>
        <th>Borrow Date <button>Filter</button></th>
        <th>Return Date <button>Filter</button></th>
      </tr>
    </thead>
    <tbody>
      {{#each borrowings}}
      <tr>
        <td><button>Edit</button></td>
        <td><button>Delete</button></td>
        <td>{{this.borrowing_id}}</td>
        <td>{{this.member_id}}</td>
        <td>{{this.borrow_date}}</td>
        <td>{{this.return_date}}</td>
      </tr>
      {{else}}
      <tr>
          <td colspan="6">No borrowings found</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  
  <h2>Update Borrowing</h2>
  <form>
    <label for="borrowing_id">Borrowing ID:</label>
    <select id="borrowing_id" name="borrowing_id">
      {{#each borrowings}}
      <option value="{{this.borrowing_id}}">{{this.borrowing_id}}</option>
      {{/each}}
    </select><br><br>
    <label for="member_id">Member ID:</label>
    <input type="text" id="member_id" name="member_id"><br><br>
    <label for="book_id">Book ID:</label>
    <input type="text" id="book_id" name="book_id"><br><br>
    <label for="movie_id">Movie ID:</label>
    <input type="text" id="movie_id" name="movie_id"><br><br>
    <label for="borrow_date">Borrow Date:</label>
    <input type="text" id="borrow_date" name="borrow_date"><br><br>
    <label for="return_date">Return Date:</label>
    <input type="text" id="return_date" name="return_date"><br><br>
    <input type="submit" value="Update Borrowing">
  </form>
  
  <h2>Add New Borrowing</h2>
  <form>
    <label for="new_borrow_id">Borrowing ID:</label>
    <input type="text" id="new_borrowing_id" name="new_borrowing_id"><br><br>
    <label for="new_member_id">Member ID:</label>
    <input type="text" id="new_member_id" name="new_member_id"><br><br>
    <label for="new_book_id">Book ID:</label>
    <input type="text" id="new_book_id" name="new_book_id"><br><br>
    <label for="new_movie_id">Movie ID:</label>
    <input type="text" id="new_movie_id" name="new_movie_id"><br><br>
    <label for="new_borrow_date">Borrow Date:</label>
    <input type="text" id="new_borrow_date" name="new_borrow_date"><br><br>
    <label for="new_return_date">Return Date:</label>
    <input type="text" id="new_return_date" name="new_return_date"><br><br>
    <input type="submit" value="Add New Borrowing">
  </form>
  
  <h2>Delete Borrowing</h2>
  <form>
    <label for="delete_borrowing_id">Borrowing ID:</label>
    <select id="borrowing_id" name="borrowing_id">
      {{#each borrowings}}
      <option value="{{this.borrowing_id}}">{{this.borrowing_id}}</option>
      {{/each}}
    </select><br><br>
    <input type="submit" value="Delete Borrowing">
  </form>
</main>
<footer>
  <p>&copy; Team Busy Bees</p>
</footer>
</body>
</html>