<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Borrowings</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<header>
  <h1>Borrowings</h1>
  <nav>
    <ul>
      <!-- Navigation links -->
      <li><a href="/">Home</a></li>
      <li><a href="bookinfo">Book Info</a></li>
      <li><a href="books">Books</a></li>
      <li><a href="borrowings">Borrowings</a></li>
      <li><a href="members">Members</a></li>
      <li><a href="movies">Movies</a></li>
      <li><a href="movieinfo">Movie Info</a></li>
    </ul>
  </nav>
</header>
<main>
  <h2>Borrowings</h2>
  <p><em>To add or update a borrowing, corresponding member id, book id and/or movie id must be present in their respective tables.</em></p>
  <table>
    <thead>
      <tr>
        <!-- New Borrowing button and column headers -->
        <th><button id="showFormButton">New</button></th>
        <th>Borrowing ID</th>
        <th>Member ID</th>
        <th>Book ID</th>
        <th>Movie ID</th>
        <th>Borrow Date</th>
        <th>Return Date</th>
      </tr>
    </thead>
    <tbody>
      <!-- Fill table with DB values -->
      {{#each borrowings}}
      <tr>
        <!-- Delete button -->
        <td><form action="/deleteBorrowing" method="post">
            <input type="hidden" name="delete_borrowing_id" value="{{this.borrowing_id}}">
            <input type="submit" value="Delete">
          </form></td>
        <td>{{this.borrowing_id}}</td>
        <td>{{this.member_id}}</td>
        <td>{{this.book_id}}</td>
        <td>{{this.movie_id}}</td>
        <td>{{this.borrow_date}}</td>
        <td>{{this.return_date}}</td>
      </tr>
      {{else}}
      <!-- If there are no borrowings entries -->
      <tr>
          <td colspan="6">No borrowings found</td>
      </tr>
      {{/each}}
    </tbody>
  </table>


<!-- New Borrowing form -->  
<div id="newMemberForm" style="display: none;">
  <h2>Add New Borrowing</h2>
  <form action="/addNewBorrowing" method="post">
    <label for="new_member_id">Member ID:</label>
    <input type="text" id="new_member_id" name="new_member_id"><br><br>
    <label for="new_book_id">Book ID:</label>
    <input type="text" id="new_book_id" name="new_book_id"><br><br>
    <label for="new_movie_id">Movie ID:</label>
    <input type="text" id="new_movie_id" name="new_movie_id"><br><br>
    <label for="new_borrow_date">Borrow Date:</label>
    <input type="date" id="new_borrow_date" name="new_borrow_date"><br><br>
    <label for="new_return_date">Return Date:</label>
    <input type="date" id="new_return_date" name="new_return_date"><br><br>
    <input type="submit" value="Add New Borrowing">
  </form>
</div>


<!-- Update Borrowing form -->
  <h2>Update Borrowing</h2>
  <form action="/updateBorrowing" method="post">
    <label for="borrowing_id">Borrowing ID:</label>
    <select id="borrowing_id" name="borrowing_id">
      {{#each borrowings}}
      <option value="{{this.borrowing_id}}">{{this.borrowing_id}}</option>
      {{/each}}
    </select><br><br>
    <label for="member_id">Member ID:</label>
    <input type="text" id="member_id" name="member_id"><br><br>
    <label for="book_id">Book ID:</label>
    <input type="text" id="book_id" name="book_id"><br><br>
    <label for="movie_id">Movie ID:</label>
    <input type="text" id="movie_id" name="movie_id"><br><br>
    <label for="borrow_date">Borrow Date:</label>
    <input type="date" id="borrow_date" name="borrow_date"><br><br>
    <label for="return_date">Return Date:</label>
    <input type="date" id="return_date" name="return_date"><br><br>
    <input type="submit" value="Update Borrowing">
  </form>
  

<!-- Delete Borrowing form -->
  <h2>Delete Borrowing</h2>
  <form action="/deleteBorrowing" method="post">
    <label for="delete_borrowing_id">Borrowing ID:</label>
    <select id="delete_borrowing_id" name="delete_borrowing_id">
      {{#each borrowings}}
      <option value="{{this.borrowing_id}}">{{this.borrowing_id}}</option>
      {{/each}}
    </select><br><br>
    <input type="submit" value="Delete Borrowing">
  </form>
</main>
<footer>
  <p>&copy; Team Busy Bees</p>
</footer>
<script>
  // Show/hide new Borrowing form when "New" button is clicked
  document.getElementById('showFormButton').addEventListener('click', function() {
    var form = document.getElementById('newMemberForm');
    if (form.style.display === 'none') {
      form.style.display = 'block';
    } else {
      form.style.display = 'none';
    }
  });
  // Hide the new Borrowing form once submitted
  document.getElementById('submit').addEventListener('click', function() {
    var form = document.getElementById('newMemberForm');
      form.style.display = 'none';

  });
</script>
</body>
</html>